:root {
  --bg-color: #fff;
  --text-color: #1b1b1b;
  /* --primary-color: #4842da;
  --secondary-color: #545ce4; */
  --primary-color: #545ce4;
  --card-color: #e2e2e2;
  --dark-color: #b1b1b1;
  --footer-color: #ffffffef;
}

[data-theme="dark"] {
  --bg-color: #242424;
  --text-color: #dfe3e6;
  --card-color: #303030;
  --primary-color: #4742da;
  /* --primary-color: #da42d2; */
  --dark-color: #252525;
  --footer-color: #242424ef;
}
