input {
  color: var(--text-color);
}

.sidebar {
  background: var(--card-color);
}

.sidebar h3 {
  color: var(--text-color);
}

li span {
  color: var(--text-color);
}

li {
  color: var(--card-color);
  border-color: var(--text-color) !important;
}

li:hover {
  -webkit-tap-highlight-color: transparent;
}

input {
  background-color: var(--card-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);

  &:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.1);
  }
}

.suggestions-list {
  background-color: var(--card-color);
  color: var(--text-color);
}

.suggestions-list li {
  background-color: var(--card-color);
  color: var(--text-color);
}

.locate-button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s;
}

.map-container {
  margin: 0;
}