.settings-punct {
  margin-bottom: 2rem;
  transition: all 0.7s ease-in-out;
  text-align: center;
}

.settings-punct h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-color);
  transition: all 0.7s ease-in-out;
}

.toggle-menu-item {
  margin-bottom: 0.7rem;
}

.analytics-btn {
  margin-bottom: 0;
  background: var(--card-color);
  color: var(--text-color);
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
  text-align: left;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.analytics-grid {
  /* width: 100%; */
  display: grid;
  gap: 1rem;
  background-color: var(--bg-color);
}

.graphic {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 10px;
}

.analytics-window {
  background-color: var(--card-color);
}

.close-btn {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
}

dialog {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.graphic h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
  min-width: 0;
}

.recharts-default-tooltip {
  background-color: var(--bg-color) !important;
}

.graphic-line {
  height: 300px;
}
